body{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #575757;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10px;
}
.half-width{

    padding-left: 5%;
   width: 50%;
}
.half-width img{
    width: 120%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    padding: 20px 50px;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: 500;
}
.top-banner{
    padding-bottom: 5%;
    padding-left: 5%;
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
    width: 80%;
}
.half-width2{

    width: 50%;
    padding: 5%;
}
.half-width2 img{
    width: 70%;
    padding-left: 40%;
}
.contact{
    
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-widt2{
    width: 50%;
    padding-right: 15%;
    padding-left: 8%;
    font-size: 12px;
}
#my{
    text-align: center;
    font-size: 45px;
}
.pe{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 5%;
    width: 50%;
    padding-left: 24%;
}
.p{
    padding-bottom: 10%;
}
.bottom{
    display: flex;
    padding-left: 10%;
    padding-bottom: 10%;
}
.bottom img{
    margin-left: 3%;
    margin-top: 5%;
    width: 90%;
}
.imagem{
    padding-left: 10px;
}
.parr-tow{
    padding-left: 1%;
    font-size: 18px;
}
.imagem{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px grey;
}
.last-part{
    padding: 5%;
    display: flex;
    color: black;
    width: 80%;
    margin-left: 5%;
}
.half-width3{
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.half-width4{
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.half-width5{
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.nothing{
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    color: #575757;
}
.footer-h{
    font-size: 25px;
    padding: 2%;
}
.something{
    color: #FBA24F;
}
.footer-p{
    font-size: 15px;
}
.nothing{
    background-color: black;
    width: 100%;
}
.one{
    font-size: 70px;
    width: 77%;
    margin-top: 20%;
}
.para{
    color: #575757;
    font-size: 30px;
}
.about{
    padding-top: 5%;
    font-size: 50px;
}
.p{
    font-size: 25px;
    color: #575757;
}
.re{
    padding-left: 6px;
}
.half-width0{
    font-size: 17px;
}
.top-banner img{
    width: 140%;
    padding-left: 1.7%;
}